.profile {
 
  background-color: #fafafa;
  font-size: 24px;
  padding-top: 40px;
  border: 3px solid #212121;
  border-radius: 8px;
 
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 50px;
  margin: 0px 0px 20px 0px;
}

.avatar {
  max-width: 100%;
  width: 200px;
  display: block;
  
  border-radius: 50%;
  border: 3px solid #99a4b0;
  background-color: #2a2a2a;
  margin: 0px 0px 20px 0px;
}

.name {
margin: 0px 0px;
  color: black;
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  margin: 0px 0px 20px 0px;
  
}

.tag {
  color:#808080;
  text-align: center;
  font-size: 40px;
  margin: 0px 0px 20px 0px;
  
}

.location {
  color: #808080;
  text-align: center;
  font-size: 40px;
  margin: 0px 0px 0px 0px;
}
